/* Define los estilos */
.navBarContainer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
}

.sortContainer {
  display: flex;
  align-items: center;
}

.sortContainer p {
  color: white;
  margin-right: 10px;
}

.sortContainer select {
  background-color: #185d1a;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: none;
  margin-right: 10px;
}

.filtersContainer {
  display: flex;
  align-items: center;
}

.filtersContainer p {
  color: white;
  margin-right: 10px;
}

.selectContainer select {
  background-color: #185d1a;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: none;
}

.inputActivityContainer {
  display: flex;
  align-items: center;
}

.inputActivityContainer label {
  color: white;
  margin-right: 10px;
}

.inputActivityContainer form {
  display: flex;
  align-items: center;
}

.inputText {
  background-color: #185d1a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.butn {
  background-color: #185d1a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.butn:hover {
  background-color: #053307;
}

.link2 {
  color: white;
  text-decoration: none;
}

.textact {
  font-weight: bold;
}

